.vscode/

#Backend
/Backend/.idea/
/Backend/.vscode/
/Backend/.gitignore
/Backend/HELP.md
/Backend/src/main/resources/application.properties

#MAven build
/Backend/target/

#Maven wrapper files
/Backend/.mvn/
/Backend/mvnw
/Backend/mvnw.cmd

#FrontEnd

/FrontEnd/node_modules/
/FrontEnd/.gitignore
/FrontEnd/README.md

